.hw-active {
    margin: 0 15px !important;
    padding: 30px 15px;
    border-bottom: 1px solid black;

}

.hw-disabled {
    margin: 0 15px !important;
    padding: 30px 15px;
    border-radius: 3px;
    border-bottom: 1px solid white;
    background: #9d9d9d;
}

.hw_link {
    font-size: 20px;

    color: black;


}


.italic {
    font-style: italic;
}

.hw_link:hover, .hw_link:active, .hw_link:focus {
    color: #787878;
    text-decoration: none;
}

.answer-table th {
    width: 25%;
}

.answer-table td {
    width: 75%;
}