.hw-active {
    margin: 0 15px !important;
    padding: 30px 15px;
    border-bottom: 1px solid #7a7a7a;

}

.hw-disabled {
    margin: 5px 15px !important;
    padding: 30px 15px;
    border: 1px solid #fd7172;

}

.hw_link {


    color: black;


}


.italic {
    font-style: italic;
}

.hw_link:hover, .hw_link:active, .hw_link:focus {
    color: #787878;
    text-decoration: none;
}

.answer-table th {
    width: 25%;
}

.answer-table td {
    width: 75%;
}