body{
   /* background-image: url("../bg.jpg");!important;
    background-repeat: repeat!important;
    background-size: 300px!important;*/
    background: #ececec;
}


/*green lizard #94ed34; festival #fee96a  salmon #fd7172 spray #7cdeeb */

.registrypanel{
    background-image: url("../bg.jpg");!important;
    background-repeat: repeat!important;
    background-size: 300px!important;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:100%;
    overflow: auto;
    padding-top: 80px;
}

.registryform{
    padding: 3% 5% ;
    background: #7cdeeb;
    border-radius:5px;
}

.mg-0{
   margin: 0!important;
}
.mg-v-15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.pd-0{
    padding: 0;
}
.pd-15{
    padding-bottom: 7px 15px;
}
.hide{
    display: none;
}
.show{
    display: block;
}
#entry_pupil_button,#reg_pupil_button{
    background: #7cdeeb;
    color:black;
    margin: 0!important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#entry_teacher_button,#reg_teacher_button{
     background: #fee96a;
     color:black;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
     margin:0 0 0 -5px!important;


 }
#entry_admin_button{
    background: #fd7172;
    color:black;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin:0 0 0 -5px!important;
}

#container{
    margin:0;!important;
}
#content {
margin:0;
    width:100%;
    padding-top: 5%;
}

#menu{
    margin:0;
    padding: 0;
}

#navbar{
    background: white;
}
.page{
    background: white;
    padding: 3% ;
}


#brand{
   padding:30px;
    background: #7cdeeb;
    color: white; width:100%;
    text-align: center;
    margin-right: 0!important;
}

.entry_li{
    text-align: center;
    background: white;
}

.registry_menu{
    border-bottom:2px solid #fee96a;
    padding: 5px;

}
.registry_menu:hover,.registry_menu:focus,.registry_menu:active{
    border-bottom:2px solid #7cdeeb;
}

.exit_menu{
    padding: 15px 5px;
    color: #fd7172!important;
}
.exit_menu:hover,.exit_menu:focus, .exit_menu:active{

}
.entrymenu{
    background: #fee96a!important;
    padding: 7px 37px 7px 27px;
    margin-bottom:15px;
}

#exit_button{
    float: bottom;
}

.tableelements > td{
    padding-left: 5px;
    padding-right: 5px;
}

@media(min-height:375px){
    .registrypanel{
        padding: 0 20px;

    }
}