body {
    /* background-image: url("../images/bg.jpg");!important;
     background-repeat: repeat!important;
     background-size: 300px!important;*/
    background: #ececec;
}

/*green lizard #94ed34; festival #fee96a  salmon #fd7172 spray #7cdeeb */
* {
    font-size: 17px;
}

.mg-10 {
    margin: 10px;
}

.mg-0 {
    margin: 0 !important;
}

.mg-v-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pd-0 {
    padding: 0;
}

.pd-15 {
    padding-bottom: 7px;;
}

.pd-7 {
    padding: 7px 20px 7px 10px;
}

.hide {
    display: none;
}

.pd-left-35 {
    padding-left: 35px;
}

.pd-right-0 {
    padding-right: 0 !important;
}

.show {
    display: block;
}

.bg-blue {
    background: #7cdeeb;
!important;
}

.bg-hover-blue:hover, .bg-hover-blue:active, .bg-hover-blue:focus {
    background: #7cdeeb;
!important;
}

.text-14 {
    font-size: 14px;
}

.text-14 tr, th, td {
    font-size: 14px;
}

.bg-red {
    background: #fd7172;
!important;
}

.bg-hover-red:hover, .bg-hover-red:active, .bg-hover-red:focus {
    background: #fd7172;
}

.bg-gray {
    background: #9d9d9d;
}

.bg-yellow {
    background: #fee96a;
!important;
}


.bg-hover-yellow:hover, .bg-hover-yellow:active, .bg-hover-yellow:focus {
    background: #fee96a;
    color: white;
}

.text-white {
    color: white !important;
}

.bg-light {
    background: #ffffff;
!important;
}

.float-right {
    float: right;
}

#container {
    margin: 0;
!important;
}

#content {
    margin: 0;
    width: 100%;
    padding-top: 5%;
}

#menu {
    margin: 0;
    padding: 0;
}

#navbar {
    background: white;
!important;
}

.navbar-container {
    min-height: 99vh;
    background: white;
    position: relative;
}

.page {
    background: white;
    padding: 3%;
}

.width-100 {
    width: 100% !important;
}

#brand {
    padding: 30px;
    background: #7cdeeb;
    color: white;
    width: 100%;
    text-align: center;
    margin-right: 0 !important;
}

.entry_li {
    text-align: center;
    background: white;
}

.exit_menu {
    padding: 15px 5px;
    color: #fd7172;
    position: absolute;
    left: 5%;
    right: 10%;
    bottom: 1%;
}

.exit_menu:hover, .exit_menu:focus, .exit_menu:active {
    border-bottom: 2px solid #fd7172;

}

.tableelements > td {
    padding-left: 5px;
    padding-right: 5px;
}

.text-13 {
    font-size: 13px !important;
}

.text-25 {
    font-size: 25px !important;
}

.bold {
    font-weight: bold;
}

.ov-auto {
    overflow: auto !important;
}

.border-none {
    border: none !important;
}

.line {
    background: transparent;
    border-top: 1px solid #454545;
    width: 100%;
    margin-top: 15px;
    padding: 0 0 15px 0;
}

@media (max-width: 950px) {
    .text-a {

        font-size: 15px;
    !important;
    }
}

@media (max-width: 770px) {
    .text-a {
        font-size: 20px;
    !important;
    }
}