.registrypanel {
   /* background-image: url("../images/bg.jpg");!important;
    background-repeat: repeat !important;
   background-size: 300px !important;*/
    background: #ececec;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    padding-top: 20px;
    border-radius: 0!important;
}

.registryform {
    padding: 3% 5%;
    background: #7cdeeb;
}
#registrypanel *{
    border-radius: 0!important;
}

#entrypanel{
    padding-top: 90px;
}

#entrypanel *{
    border-radius: 0!important;
}
#entry_pupil_button, #reg_pupil_button {
    background: #7cdeeb;
    color: black;
    margin: 0 !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#entry_teacher_button, #reg_teacher_button {
    background: #fee96a;
    color: black;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0 0 0 -5px !important;

}

#entry_admin_button {
    background: #fd7172;
    color: black;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0 0 0 -5px !important;
}

.entrymenu {
    background: #fee96a !important;
    padding: 7px 37px 7px 27px;
    margin-bottom: 15px;
}

@media (max-width: 775px) {
    #entrypanel{
        padding: 30px 5px auto 5px;
    }


}