.registrypanel {
    background-image: url("../images/bg.jpg");
!important;
    background-repeat: repeat !important;
    background-size: 300px !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    padding-top: 80px;
}

.registryform {
    padding: 3% 5%;
    background: #7cdeeb;
    border-radius: 5px;
}
#entry_pupil_button, #reg_pupil_button {
    background: #7cdeeb;
    color: black;
    margin: 0 !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#entry_teacher_button, #reg_teacher_button {
    background: #fee96a;
    color: black;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0 0 0 -5px !important;

}

#entry_admin_button {
    background: #fd7172;
    color: black;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0 0 0 -5px !important;
}
.entrymenu {
    background: #fee96a !important;
    padding: 7px 37px 7px 27px;
    margin-bottom: 15px;
}
@media (min-height: 375px) {
    .registrypanel {
        padding: 0 20px;

    }
}